{% extends 'base/base.html' %} {% block 'body' %}
<div class="mt-5 container">
  <form method="get" action="{% url 'home' %}">
    <label for="priority">Filter by Priority : </label>
    <select style="border-radius: 5px; padding: 6px" name="priority" id="priority">
      <option value="" {% if priority == '' %}selected{% endif %}>All</option>
      <option value="High" {% if priority == 'High' %}selected{% endif %}>High</option>
      <option value="Medium" {% if priority == 'Medium' %}selected{% endif %}>Medium</option>
      <option value="Low" {% if priority == 'Low' %}selected{% endif %}>Low</option>
    </select>
    <button class="btn btn-primary" type="submit">Filter</button>
  </form>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Task</th>
        <th scope="col">Description</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <th width="50" scope="row">{{forloop.counter}}</th>
        <td width="150">{{task.title}}</td>
        <td width="700">{{task.description}}</td>
        <td width="100">{{task.priority}}</td>
        <td width="100">{{task.status}}</td>
        <td width="50">
          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <a href="{% url 'edit_task' task.id %}">
              <path
                d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z"
              />
            </a>
          </svg>
        </td>
        <td width="50">
          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <a href="{% url 'delete_task' task.id %}">
              <path
                d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"
              />
            </a>
          </svg>
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="7" class="text-center">
          <a href="{% url 'add_task' %}"><button class="btn btn-primary">Add Task</button></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
